# use ; for inline comments, not #
#


[getsocrata]
# some defaults, these are included by default in getsocrata.py: $limit=1000, $offset=0, $select=* (all columns).  
# Other defaults are listed in the socrata SODA documentation
# To override the default value, simply add it here.


project = sf_311
url = http://data.sfgov.org/resource/vw6y-z8j6.json ; 311 cases

#$select = category


[getsocrata filters]

#category=General Requests


