# use ; for inline comments, not #
#
[getsocrata filters]
category=General Requests

[getsocrata]

$limit = 1000
#$select = category
$offset = 0



#Test Projects:

project = sf_311
url = http://data.sfgov.org/resource/vw6y-z8j6.json ; 311 cases

#project = job-titles
#url = http://data.sfgov.org/resource/58un-vqfs.json

#project = job-codes
#url = http://data.sfgov.org/resource/7h4w-reyq.json

#project = ftl.cc-test
#url = http://ftl.cc/test.json

#project = unclaimed-bank-accts
#url = http://opendata.socrata.com/resource/n2rk-fwkj.json

#project  = SFPD-incidents-3mo
#url=http://data.sfgov.org/resource/tmnf-yvry.json

#project = sf-pizza-places
#url = http://data.sfgov.org/resource/k78b-bnzt.json
